@model List<DemoStoredProcedure.Models.GetAll_User_Result>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<a href="@Url.Action("Create","Home")">Create New User</a>
<table border="1px solid black">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>FullName</th>
        <th>Option</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserId</td>
            <td>@item.Username</td>
            <td>@item.Password</td>
            <td>@item.FullName</td>
            <td><a href="@Url.Action("Details","Home",new {id = item.UserId })">Details</a> | <a href="@Url.Action("Edit","Home",new {id = item.UserId })">Edit</a> </td>            
        </tr>
    }
</table>

